html, body {
    margin:0px;
}

*{
    color:white;
}

body
{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    background-color: #101010;
    overflow: hidden;
    height:100dvh;
}

.hidden {
    display: none;
}


.main
{
    background-color: #1E1E1E;
}

.info
{
    background-color: #1E1E1E;
}