@font-face {
    font-family: 'robotomedium';
    src: url('../assets/fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root
{
    --side-bar-color:#1a1919;
    --hover-color:#262626;
    --active-color:#3F3F3F;
    --border-color:#292929;
    --main-background-color:#1E1E1E;
    --complete-button-color:#717171;
    --left-padding:8px;
    --main-icon-width:30px;
}

html, body {
    margin:0px;
    box-sizing: border-box;
}

*{
    color:white;
    box-sizing: border-box;
    font-family: "robotoregular";
}

body
{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    background-color:var(--main-background-color) ;
    height:100vh;
}

.hidden {
    display: none;
}


.main
{
    background-color: #1E1E1E;
}

.info
{
    background-color: #1E1E1E;
}