
.info
{
    display:flex;
    flex-direction: column;
    gap:2rem;
    padding:16px;
}

.info-task .change-task-form
{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.date-checkbox-container
{
    display: flex;
    gap:1rem;
}

.info-task .change-task-form .date-checkbox-container .task-date
{
    font-size: 24px;
}

.completed-task
{
    background-color: var(--active-color);
    opacity: 40%;
}

.complete-unchecked-button
{
    width:22px;
    fill:var(--complete-button-color);
    cursor: pointer;
}

.complete-checked-button
{
    width:22px;
    fill:var(--complete-button-color);
    cursor: pointer;
}

.info-task .change-task-form .task-priority
{
    font-size: 22px;
}

.border-above-title
{
    border: 1px solid var(--border-color);
}

.info-task .change-task-form .title 
{
    font-size: 18px;
    border: 0px;
    border-radius: 8px;
    outline:0px;
    background-color: var(--main-background-color);
    padding:8px 12px;  
}

.info-task .change-task-form .description 
{
    font-size: 18px;
    background-color: var(--main-background-color);
    padding:8px;
    border:0px;
    border-radius: 8px;
    outline:0px;
}

.info-task .submit-change-task-button
{
    background-color: #4772FA;
    cursor: pointer;
    width: min-content;
    padding:8px 12px;
    border:0px;
    border-radius: 8px;
}

.add-subtask-button
{
    background-color: var(--main-background-color);
    color: #4772FA;
    font-size: 14px;
    border: 0px;
    margin-bottom: 8px;
    cursor: pointer;
}

.add-subtask-button
{
    align-self: flex-start;
}

.add-subtask-button:hover
{
    cursor: pointer;
}

.add-subtask-form .input-text
{
    background-color:var(--hover-color);
    width: 45%;
    flex:0 1 auto;
    font-size: 14px;
    padding:8px 12px;
    border-radius: 8px;
    border:0px;
}

.add-subtask-form .input-text:focus
{
    outline:1px solid #4772FA;
}

.info-note .change-note-form
{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.info-note .change-note-form .title 
{
    font-size: 18px;
    border: 0px;
    border-radius: 8px;
    outline: 0px;
    background-color: var(--main-background-color);
    padding:8px 12px;   
}

.info-note .change-note-form .description 
{
    font-size: 18px;
    background-color: var(--main-background-color);
    border:0px;
    border-radius: 8px;
    outline: 0px;
}
.info-note .change-note-form .description:focus 
{
    outline: 1px solid #4772FA;    
}

.info-note .submit-change-note-button
{
    background-color: #4772FA;
    cursor: pointer;
    width: min-content;
    padding:8px 12px;
    border:0px;
    border-radius: 8px;
}

.info .subtasks-container
{
    margin:0px;
    border-top: 1px solid var(--border-color);
    padding-top: 12px;
}

.subtasks-container .task-card
{
    border: 0px;
}

.hidden
{
    display: none;
}
