.list-container
{
    display:flex;
    flex-direction: column;
    gap:1rem;
    padding:16px;
    border-right: 1px solid var(--border-color);
}

.list-container .list-title
{
    font-size: 42px;
}

.toggle-tasks-notes-container
{
    display: flex;
    gap:0.5rem;
}

.toggle-add-task, .toggle-add-note
{
    align-self: flex-end;
    background-color: #1E1E1E;
    padding:4px 8px;
    border:0px;
    border-radius: 8px;
}

.toggle-add-task:hover, .toggle-add-note:hover
{
    cursor: pointer;
    background-color: var(--hover-color);
}

.active-add
{
    background-color: var(--active-color);
}

.add-task-form
{
    display:flex;
    align-items: center;
    gap:0.5rem;
}

.add-task-form .input-text
{
    background-color:var(--hover-color);
    flex:1 1 auto;
    font-size: 16px;
    padding:12px 16px;
    border-radius: 8px;
    border:0px;
}

.add-task-form .input-text:focus
{
    outline:1px solid #4772FA;
}


.date-toggle
{
    width: 20px;
    fill:var(--complete-button-color)
}

.date-toggle:hover
{
    cursor: pointer;
    fill:rgb(96, 94, 94);
}

.task-date-input
{
    background-color: var(--active-color);
}

.priority-flag-button
{
    width:20px;
    fill: var(--complete-button-color);
    cursor: pointer;
}

.priority-flag-button:hover
{
    fill:rgb(96, 94, 94);
}

.add-note-form
{
    display:flex;
    align-items: center;
    gap:0.5rem;
}

.add-note-form .input-text
{
    background-color:var(--hover-color);
    flex:1 1 auto;
    font-size: 16px;
    padding:12px 16px;
    border-radius: 8px;
    border:0px;
}

.add-note-form .input-text:focus
{
    outline:1px solid #4772FA;
}

.priority-container
{
    display: flex;
    gap:0.5rem;
    align-items: center;
}

.priority-container input[type='radio']:after
{
    accent-color: var(--complete-button-color);
}

.priority-container input[value="Low"]
{
    color:#4772FA;
}

.priority-container .low
{
    color:#4772FA;
}

.hidden
{
    display: none;
}

.notes-tasks-container
{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.task-card
{
    display: flex;
    align-items: center;
    padding:4px 8px;
    border-radius: 8px;
    gap:0.5rem;
    border-top: 1px solid var(--border-color);
}

.task-card:first-child
{
    border:0px;
}

.show-subtasks-button
{
    width: 15px;
    fill:var(--complete-button-color);
    cursor:pointer;
}

.close-subtasks-button
{
    width:15px;
    fill:var(--complete-button-color);
    cursor:pointer;
}

.task-card-hover:hover
{
    background-color: var(--hover-color);
}

.selected-task
{
    background-color: var(--active-color);
}

.task-card .title
{
    flex: 1 1 auto;
    font-size: 20px;
}

.task-card .delete-button
{
    width: 20px;
}

.task-card .delete-button:hover
{
    fill:rgb(125, 2, 2);
}

.completed-task
{
    background-color: var(--active-color);
    opacity: 40%;
}

.complete-unchecked-button
{
    width:22px;
    fill:var(--complete-button-color);
    cursor: pointer;
}

.complete-unchecked-button.low-priority
{
    fill:#4772FA;
}

.complete-unchecked-button.medium-priority
{
    fill:rgb(180, 180, 0);
}


.complete-unchecked-button.high-priority
{
    fill:rgb(255, 78, 78);
}


.complete-checked-button
{
    width:22px;
    fill:var(--complete-button-color);
    cursor: pointer;
}

.task-date
{
    color:#4772FA;
    font-size: 18px;
}


.note-card
{
    display: flex;
    align-items: center;
    gap:0.5em;
    padding:4px 8px;
    border-radius: 8px;
    border-top: 1px solid var(--border-color);
}

.note-card:first-child
{
    border:0px;
}

.note-card:hover
{
    background-color: var(--hover-color);
}


.note-icon
{
    width:20px;
    fill:var(--complete-button-color);
    margin-right: 7px;
}

.note-card .title
{
    flex: 1 1 auto;
    font-size: 20px;
}

.subtasks-container
{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap:0.5rem;

}

.hidden
{
    display:none;
}