
.side-bar
{
    background-color: var(--side-bar-color);
    display:flex;
    flex-direction: column;
    gap:1rem;
    padding:16px;
    min-width: 250px;
    border-right: 1px solid var(--border-color);
}

.options
{
    display: flex;
    gap:1rem;
}

.save-data-button
{
    width:30px;
    fill: white;
    cursor: pointer;
}

.save-data-button:hover
{
    fill:#cfc3c3
}


.data-saved
{
    color:green;
    font-size: 20px;
}

.data-deleted
{
    color:rgb(125, 2, 2);
    font-size: 20px;
}

.delete-data-button
{
    width:30px;
    fill:white;
    cursor: pointer;
}

.delete-data-button:hover
{
    fill:#cfc3c3
}

.inbox-icon
{
    width: var(--main-icon-width);
    fill:white;
}

.today-icon
{
    width: var(--main-icon-width);
    fill:white;
}

.next7-icon
{
    width: var(--main-icon-width);
    fill:white;
    margin-bottom: 8px;
}

.main-lists
{
    display: flex;
    flex-direction: column;
    gap:1rem;
    font-size: 20px;
}

.title-addList-container
{
    border-top: 1px solid var(--border-color);
}

.list
{
    padding:8px var(--left-padding);
    display: flex;
    align-items: center;
    gap:0.8rem;
    border:0px;
    border-radius: 8px;
}

.list-hover:hover
{
    cursor: pointer;
    background-color: var(--hover-color);
}

.current-list
{
    background-color: var(--active-color);
}

.title-addList-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    --font-size:24px;
    padding:8px var(--left-padding);
    margin-bottom: 4px;
    border-top: 1px solid var(--border-color);
}

.list-icon
{
    width:20px; 
    fill:white;
}

.title-addList-container > .title
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:0.5rem;
    color:#fffdfd;
    font-size: var(--font-size);
}

.add-list-button
{
    background-color: var(--side-bar-color);
    cursor: pointer;
    font-size: var(--font-size);
    border-radius:8px;
    width:25px;
    fill:white;
}   

.add-list-button:hover
{
    fill:#4772FA;
}

.add-list-form
{
    background-color: var(--main-background-color);
    border:1px solid var(--active-color);
    padding:16px 32px;
    position: absolute;
    top: 10%;
}

.add-list-form > div
{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.add-list-form input[type="button"]
{
    border:0px;
    padding:8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.add-list-form .text-input-list-form
{
    background-color: var(--hover-color);
    border:0px;
    outline: 1px solid #4772FA;
}

.submit-list-form
{
    background-color:#4772FA;
}

.cancel-list-form
{
    background-color:var(--active-color);
}

.list-card
{
    padding:8px var(--left-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.list-card:last-child
{
   margin-bottom: 8px;
}


.title-icon-container
{
    display:flex;
    align-items: center;
    gap:0.5rem;
}

.list-card:hover
{
    background-color: var(--hover-color);
    cursor: pointer;
}

.delete-button
{
    fill: var(--complete-button-color);
    width: 20px; 
}

.delete-button:hover
{
    fill:rgb(125, 2, 2);
    cursor: pointer;
}

.completed
{
    display: flex;
    align-items: center;
    gap:0.5rem;
    padding:8px;
    border-radius: 8px;
}

.hidden
{
    display:none;
}